.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
}

.formContainer .todo,
.formContainer .time {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.formContainer button {
  margin-top: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
